<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently Full Stack Engineer at
      <a class="underline-link" href="https://www.apty.io/" target="_blank">Apty</a> building and improving the Digital Adoption platform called Apty in Hyderabad, IN. I am graduated from
      <a class="underline-link" href="http://www.poornima.org/" target="_blank">Poornima College</a> in Computer Science and Engineering.
    </p>

    <p>
      I like the cycle of learning and coding and doing the same from last 8+ years. As a software engineer, I like to do more than writing the code,
      Such as researching. designing, prototyping new things from scratch.
    </p>

    <p>
      <strong>While I'm not coding</strong>, I like meeting new people, playing video games, travelling and exploring new things.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
